---
import BigIcon from "../../components/BigIcon.astro";
import BlogCard from "../../components/BlogCard.astro";
import Card from "../../components/Card.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import MenuMobile from "../../components/MenuMobile.astro";
import Nav from "../../components/Nav.astro";
import OutLinedButton from "../../components/OutLinedButton.astro";
import Layout from "../../layouts/Layout.astro";

const allPosts = await Astro.glob("./*.md");

const response = await fetch('http://api.open-notify.org/astros.json');
const data = await response.json();
const randomUser = data.number
---

<Layout
  title="Descubre el Desarrollo Web: Tutoriales, Consejos y Más | Roberto Serrano"
>
  <div class="bg-slate-900 opacity-80">
    <MenuMobile />
    <Container>
      
        <Nav />
    
        <div class="flex justify-center pt-48 pb-28 ">
          <h1
            class="inline-block px-3 py-1 text-sm font-semibold text-indigo-100 rounded-lg md:text-center text-cn bg-[#202c47] bg-opacity-60 hover:cursor-pointer hover:bg-opacity-40"
          >
          Consejos prácticos, tutoriales y reflexiones sobre el mundo del desarrollo web
        </h1>
        </div>
    
        <header>
          <div class="flex flex-col pb-20">
            <h2 class="pb-3 text-2xl font-extrabold">¡Hola, devs! 🖐️</h2>
            <p class="pb-3">
              Soy Roberto Serrano, el creador de este rincón digital dedicado al
              fascinante mundo del desarrollo web. Bienvenidos a mi espacio virtual,
              donde compartiré mi viaje, experiencias y descubrimientos en este
              emocionante campo.
            </p>
            <p class="pb-3">
              Como apasionado del desarrollo web, entiendo los
              desafíos y las emociones que acompañan a este viaje creativo. Aquí, no
              solo encontrarás tutoriales y consejos prácticos, sino también relatos
              personales sobre mis propias travesías, éxitos y aprendizajes.
            </p>
            <p class="pb-3">
              Este blog
              es más que un recurso educativo; es un espacio para la comunidad. Únete
              a mí mientras exploramos las últimas tendencias, experimentamos con
              nuevas tecnologías y celebramos los logros en el universo del desarrollo
              web. Estoy emocionado de tenerlos a todos ustedes aquí.
            </p>
            <p class="pb-3">
              ¡Prepárense para
              sumergirse en código, diseño y todo lo relacionado con la creación
              digital! ¡Vamos a construir algo increíble juntos!
            </p>
          </div>
        </header>
    
        <div>
          <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
            <!-- {
              allPosts.map((post) => (
                <BlogCard
                  href={post.url}
                  title={post.frontmatter.title}
                  date={post.frontmatter.pubDate}
                  tags={post.frontmatter.tags}
                  image={post.frontmatter.image}
                />
              ))
            } -->
            {
              allPosts.map((post) => (
                <Card
                  href={post.url}
                  title={post.frontmatter.title}
                  date={post.frontmatter.pubDate}
                  tags={post.frontmatter.tags}
                  image={post.frontmatter.image.url}
                />
              ))
            }
          </ul>
        </div>
    
        <div class="flex justify-center mt-12 pb-20">
          <OutLinedButton href="/" value="Ir arriba" />
        </div>
    
        <Footer />
    </Container>
    <BigIcon />
  </div>
</Layout>
