---
import { getCollection } from "astro:content";
import ButtonScrollToTop from "../../components/ButtonScrollToTop.astro";
import Card from "../../components/Card.astro";
import Container from "../../components/Container.astro";
import Footer from "../../components/Footer.astro";
import MenuMobile from "../../components/MenuMobile.astro";
import Nav from "../../components/Nav.astro";
import { STATIC_OG_IMAGE_URL } from "../../constants";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("posts");

const response = await fetch('http://api.open-notify.org/astros.json');
const data = await response.json();
const randomUser = data.number
---

<Layout
  title="Descubre el Desarrollo Web: Tutoriales, Consejos y Más | Roberto Serrano"
  description="Explora las últimas tendencias en desarrollo web con Roberto Serrano. Profundiza en el mundo de NodeJS, MongoDB, React y otras tecnologías punteras a través de tutoriales detallados, análisis y consejos de expertos. ¡Inspírate y lleva tus habilidades a la órbita digital!"
  image={STATIC_OG_IMAGE_URL}
>
  <div class="bg-slate-900 opacity-80">
    <MenuMobile />
    <Container>
      
        <Nav />
    
        <div class="flex justify-center pt-48 pb-28 ">
          <h1
            class="inline-block px-3 py-1 text-sm font-semibold text-indigo-100 rounded-lg md:text-center text-cn bg-[#202c47] bg-opacity-60 hover:cursor-pointer hover:bg-opacity-40"
          >
          Consejos prácticos, tutoriales y reflexiones sobre el mundo del desarrollo web
        </h1>
        </div>
    
        <header>
          <div class="flex flex-col pb-20">
            <h2 class="pb-3 text-2xl font-extrabold">¡Hola, devs! 🖐️</h2>
            <p class="pb-3">
              Soy Roberto Serrano, el creador de este rincón digital dedicado al
              fascinante mundo del desarrollo web.
            </p>
            <p class="pb-3">
              Este blog
              es más que un recurso educativo; es un espacio para la comunidad. Únete
              a mí mientras exploramos las últimas tendencias, experimentamos con
              nuevas tecnologías y celebramos los logros en el universo del desarrollo
              web.
            </p>
            <p class="pb-3">
              ¡Prepárense para
              sumergirse en código, datos y todo lo relacionado con la creación
              digital!
            </p>
          </div>
        </header>
    
        <div>
          <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
            {
              allPosts.map((post) => (
                <Card
                  href={`/blog/${post.slug}`}
                  title={post.data.title}
                  date={post.data.pubDate}
                  tags={post.data.tags}
                  image={post.data.image.url}
                />
              ))
            }
          </ul>
        </div>
    
        <div class="flex justify-center mt-12 pb-20">
          <ButtonScrollToTop />
        </div>
        <Footer />
    </Container>
  </div>
</Layout>
