---
interface Props {
	title: string;
	body?: string;
	href?: string | undefined;
  date: string;
  tags: string[];
  image: Record<string, string>;
}
const { title, date, tags, href, image } = Astro.props

const formatDate = new Date(date).toLocaleDateString('es-es', { weekday:"long", year:"numeric", month:"short", day:"numeric"})
---

<article class="">
  <div class="relative group">
    <div class="absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 blur duration-400 group-hover:opacity-100 group-hover:duration-200"></div>
    <a href={href}>
      <div class="relative w-full">
          <img src={image.url} alt="" class="w-full h-44 rounded-t-md" />
      </div>
      <div class="relative p-6 space-y-6 leading-none rounded-b-lg bg-gray-900 ring-1 ring-gray-900/5">
        <div class="flex items-center space-x-4">
          <div>
            <span class="text-xs inline-flex items-center font-bold leading-sm px-2 rounded-full bg-white text-gray-700 border">{tags[0]}</span>
            <h3 class="my-4 text-lg font-semibold text-slate-300 transition ease-[cubic-bezier(0.22,1,0.36,1)] duration-500 group-hover:text-pink-500">{title}</h3>
            <p class="mb-1 text-xs text-indigo-200">{formatDate}</p>
            <!-- <p class="text-sm text-indigo-100">{description}</p> -->
          </div>
        </div>
      </div>
    </a>
  </div>
</article>
