---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Layout from "./Layout.astro";
import MenuMobile from "../components/MenuMobile.astro";
import Container from "../components/Container.astro";
import PostAuthorCard from "../components/PostAuthorCard.astro";
import PostHeader from "../components/PostHeader.astro";
const { frontmatter } = Astro.props;

const postTitle = frontmatter.title;
const metaTitle = postTitle + " | Roberto Serrano Diaz-Grande";

const postDate = new Date(frontmatter.pubDate).toLocaleDateString("es-es", {
  weekday: "long",
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<Layout title={metaTitle}>
  <div class="bg-slate-900 opacity-80">
    <MenuMobile />
    <Container>
      <Nav />
      <article>
        <PostHeader
          title={postTitle}
          date={postDate}
          image={frontmatter.image.url}
          tag={frontmatter.tags[0]}
          description={frontmatter.description}
        />
        <section class="post-content">
          <div class="relative max-w-[650px]">
            <aside class="absolute left-full h-full hidden xl:block">
              <div class="sticky top-16 w-[400px] pl-12">
                <p class="text-lg font-semibold dark:text-gray-300">
                  En este post
                </p>
                <nav
                  id="table-of-contents"
                  aria-label="Table Of Contents"
                  data-astro-cid-xvrfupwn=""
                >
                  <ul
                    class="not-prose list-none mt-4 space-y-1.5 pl-8"
                    data-astro-cid-xvrfupwn=""
                  >
                    <li class="text-base" data-astro-cid-xvrfupwn="">
                      <a
                        href="#step-1-install-vercelog"
                        class="!text-black dark:!text-gray-300 !no-underline"
                        data-astro-cid-xvrfupwn=""
                      >
                        Step 1: Install @vercel/og
                      </a>
                    </li><li class="text-base" data-astro-cid-xvrfupwn="">
                      <a
                        href="#step-2-create-an-astro-endpoint"
                        class="!text-black dark:!text-gray-300 !no-underline"
                        data-astro-cid-xvrfupwn=""
                      >
                        Step 2: Create an Astro endpoint
                      </a>
                    </li><li class="text-base" data-astro-cid-xvrfupwn="">
                      <a
                        href="#step-3-checking-the-result"
                        class="!text-black dark:!text-gray-300 !no-underline"
                        data-astro-cid-xvrfupwn=""
                      >
                        Step 3: Checking the result
                      </a>
                    </li><li class="text-base" data-astro-cid-xvrfupwn="">
                      <a
                        href="#step-4-adding-og-tags-in-html"
                        class="!text-black dark:!text-gray-300 !no-underline"
                        data-astro-cid-xvrfupwn=""
                      >
                        Step 4: Adding OG tags in HTML
                      </a>
                    </li><li class="text-base" data-astro-cid-xvrfupwn="">
                      <a
                        href="#wrapping-up"
                        class="!text-black dark:!text-gray-300 !no-underline"
                        data-astro-cid-xvrfupwn=""
                      >
                        Wrapping up
                      </a>
                    </li>
                  </ul>
                </nav>
                <p class="my-6 text-lg font-semibold dark:text-gray-300">
                  Autor
                </p>
                <PostAuthorCard
                  name={frontmatter.author}
                  alt={frontmatter.author}
                  github={frontmatter.github_profile}
                />
                <a href="https://www.buymeacoffee.com/robertoserm"
                  ><img
                    src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=robertoserm&button_colour=BD5FFF&font_colour=ffffff&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"
                  /></a
                >
              </div>
            </aside>
            <slot />
          </div>
        </section>
      </article>
    </Container>
    <Footer />
  </div>
</Layout>

<style is:global>
  .post-content {
    font-size: 1rem;
  }

  .post-content p,
  .post-content ul {
    @apply mb-5 text-indigo-100;
  }

  .post-content :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .post-content h2 {
    font-size: 28px;
  }

  .post-content h3 {
    font-size: 24px;
  }

  .post-content h4 {
    font-size: 20px;
  }

  .post-content pre {
    @apply p-6 my-12 rounded-xl;
  }

  .post-content ul {
    list-style: initial;
    padding: 12px;
    margin: 18px 0;
  }
</style>
