---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Layout from "./Layout.astro";
import MenuMobile from "../components/MenuMobile.astro";
import Container from "../components/Container.astro";
import PostHeader from "../components/PostHeader.astro";
import Comments from "../components/Comments.astro";
import PostAside from "../components/PostAside.astro";
import PostFooter from "../components/PostFooter.astro";
const { frontmatter, headings } = Astro.props;

const postTitle = frontmatter.title;
const metaTitle = postTitle + " | Roberto Serrano";

const postDate = new Date(frontmatter.pubDate).toLocaleDateString("es-es", {
  weekday: "long",
  year: "numeric",
  month: "short",
  day: "numeric",
});
---

<Layout title={metaTitle} image={frontmatter.image.url} description={frontmatter.description} type="article">
  <div class="bg-slate-900 opacity-80">
    <MenuMobile />
    <Container>
      <Nav />
      <article>
        <PostHeader
          title={postTitle}
          date={postDate}
          image={frontmatter.image.url}
          tag={frontmatter.tags[0]}
          description={frontmatter.description}
        />
        <section class="post-content">
          <div class="relative max-w-[650px]">
            <PostAside
              headings={headings}
              authorName={frontmatter.author}
              imageAlt={frontmatter.author}
              githubProfile={frontmatter.github_profile}
            />
            <slot />
            <PostFooter
              name={frontmatter.author}
              alt={frontmatter.author}
              github={frontmatter.github_profile}
            />
            <Comments />
          </div>
        </section>
      </article>
    </Container>
    <Footer />
  </div>
</Layout>

<style is:global>
  .post-content {
    font-size: 1rem;
  }

  .post-content p,
  .post-content ul {
    @apply mb-5 text-indigo-100;
  }

  .post-content a {
    @apply hover:text-pink-500 underline;
  }

  .post-content :is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  .post-content h2 {
    font-size: 28px;
  }

  .post-content h3 {
    font-size: 24px;
  }

  .post-content h4 {
    font-size: 20px;
  }

  .post-content pre {
    @apply p-6 my-12 rounded-xl;
  }

  .post-content ul {
    list-style: initial;
    padding: 12px;
    margin: 18px 0;
  }
</style>
